.main {
    align: center;
    margin: auto;
    width: 50%;
}

.row {
    border-color: black;
    border: 1px solid;
    height: 50%;
}

.title {
    color: red;
}

.sensors {
    border: 1px solid;
    border-color: black;

}

div[class^=col]{
    background: #8CC7D9;
    border: 1px solid #6B6ACD;
    height: 20%;
}